.superMain-contain {
	display: flex;
	margin: 0 auto;
	width: max-content;
	gap: 0 75px;
}

.home_vid-contain {
	cursor: grab;
}

.home_vid-subContain {
	padding: 30px 30px;
	color: white;
	background: #6a0705af;
	border: 5px rgb(62, 7, 7) solid;
	border-radius: 20px;
	box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
	.home_vid-contain {
		cursor: grab;
	}

	.home_vid-subContain {
		margin: 0 auto;
		padding: 10px 10px;
	}
}

@media (min-width: 769px) {
	.home_vid-contain {
		cursor: grab;
	}

	.home_vid-subContain {
		margin: 0 auto;
		padding: 10px 10px;
	}
}
