.resume_contain {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
}

.resume_contain {
	display: flex;
	justify-content: center;
	margin-top: 130px;
}

@media (max-width: 768px) {
	.toolbar_nav-items {
		display: none;
	}
}
