.toolbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #6a0705b1;
	height: 100px;
	z-index: 50;
}

.toolbar_nav {
	display: flex;
	height: 100%;
	align-items: center;
	padding: 0 1rem;
}

.logo {
	margin-left: 1rem;
	margin-top: 10px;
}

.spacer {
	flex: 1;
}

.linkedin,
.github {
	font-size: 2.5rem;
	padding: 30px;
}

.toolbar_nav-items ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	font-family: 'Chakra Petch', sans-serif;
	font-size: 30px;
}

.toolbar_nav-items li {
	padding: 0 0.5rem;
}

.toolbar_nav-items a {
	color: rgba(211, 161, 54, 0.954);
	text-decoration: none;
}

.toolbar_nav-items a:hover,
.toolbar_nav-items a:active {
	color: #4f0705;
}

@media (max-width: 768px) {
	.toolbar_nav-items {
		display: none;
	}
	.toolbar_toggle-button {
		margin-right: 15px;
	}
}

@media (min-width: 769px) {
	.toolbar_toggle-button {
		display: none;
	}
	.logo {
		margin-left: 0;
	}
}
